### Start via container

<%
if (docker === 'Dockerfile') {
    print(`
    $ sh start-code.sh [-bl] [-p port] [-v version]

- -b: 是否从本地构建镜像
- -l: 是否在启动后输出容器日志
- -p: 指定容器映射端口号（默认8080）
- -v: 指定构建镜像的版本号（默认1.0.0）

如果需要自定义启动命令，可以自行修改[\`run.sh\`]\(/run.sh\)。
`)
} else {
    print(`
    $ sh build.sh
    $ docker run -d \\
        -p 8080:8080 \\
        -p 8081:8081 \\
        ${artifactId}:1.0.0-SNAPSHOT
`)
}
%>
